    <main>
        <form action="/cats/{{id}}/delete" method="POST" class="cat-form">
            <h2>Shelter the cat</h2>
            <img src="/content/images/{{cat.image}}" alt="Cat">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{cat.name}}" disabled>
            <label for="description">Description</label>
            <textarea id="description" name="description" disabled>{{cat.description}}</textarea>
            <label for="group">Breed</label>
            <select id="group" name="breed" disabled>
                 {{#each breeds}}
                <option 
                    {{#if this.selected}}
                    {{this.selected}}
                    {{/if}}
                        value={{this.name}}>{{this.name}}
                </option>
                {{/each}}
            </select>
            <button>SHELTER THE CAT</button>
        </form>
    </main>