    <main>
        <form action="/cats/{{id}}" method="POST" class="cat-form" enctype="multipart/form-data">
            <h2>Edit Cat</h2>
            <span><img src="../content/images/{{cat.image}}" alt="Cat"></span>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value={{cat.name}}>
            <label for="description">Description</label>
            <textarea id="description" name="description">{{cat.description}}</textarea>
            <label for="image">Image</label>
            <input type="file" id="image"name="upload" value="{{cat.image}}">
            <label for="group">Breed</label>
            <select id="group" name="breed">
               {{#each breeds}}
                <option 
                    {{#if this.selected}}
                    {{this.selected}}
                    {{/if}}
                        value={{this.name}}>{{this.name}}
                </option>
                {{/each}}
            </select>
            <button type="submit">Edit Cat</button>
            <button formaction="/cats/{{id}}/delete" type="submit">Delete Cat</button>

        </form>
    </main>
